body {
  font-family: $sans-serif-font;
  font-weight: $sans-serif-basic;
}

img {
  max-width: 100%;
  height: auto;
}

.image-with-caption,
.single-image {
  img {
    max-width: 96%;
  }
}

.file {
  a {
    word-break: break-all;
  }
}

a {
  text-decoration: none;
}

.link {
  a {
    @include link;
  }
}

#block-svdhe-branding {
  a {
    display: inline-block;
    background: url(../img/logo.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 290px;
    height: 118px;
    @include from('l') {
      width: 410px;
      height: 170px;
    }
    img {
      display: none;
    }
  }
}

.views-element-container {
  .file {
      a {
        @include to('xs') {
        display: inline-block;
        width: 100px;
        text-overflow: ellipsis;
      	white-space: nowrap;
      	overflow: hidden;
      	vertical-align: bottom;
    	}
    }
  }
}


#block-svdhe-content {
  article {
    ul {
      padding-left: $baseline;
      margin-bottom: $baseline;
      li {
        list-style-type: none;
        &:before {
          content: " • ";
          color: $green;
          margin-left: -10px;
        }
      }
    }
    ol {
      padding-left: ($baseline + 10);
      margin-bottom: $baseline;
    }
  }
    p a {
    @include link;
  }
  
  .date-time {
    @include date-time;
  }  

  table {
    width: 100%;
    th, td {
      padding: 6px;
    }
    th {
      background: $green-soft;
      text-align: left;
    }
    tr {
      &:nth-child(even) {
        background: tint($green-soft, 50%);
      }
    }
    td {
      vertical-align: middle;
      p {
        margin-bottom: 0;
      }
    }
  }
  
  @include to('m') {
  /* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	td { 
		/* Behave  like a "row" */
		border: none;
		//border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50% !important; 
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	
	/*
	Label the data
	*/
	td:nth-of-type(1):before { content: "Ort"; }
	td:nth-of-type(2):before { content: "Ansprechpartner"; }
	td:nth-of-type(3):before { content: "Adresse"; }
  }
  
  h3, h4, h5, h6 {
    color: $green;
    font-family: $serif-font;
    font-weight: $serif-basic;
  }
}

.title-wrapper {
  text-align: center;
  margin-top: ($baseline * 2);
    h3 {
    @include h3;
  }
}

h2 {
  @include h2;
}

h4 {
  &.subhead {
    font-family: $sans-serif-font;
    text-transform: uppercase;
    font-size: 12px;
    text-align: center;
    font-weight: 100;
    margin-bottom: $baseline;
    margin-top: - ($baseline /2 );
  }
  &.section-headline {
    @include h1;
    margin-top: ($baseline * 2);
    margin-bottom: $baseline;
  }
}

blockquote {
  color: $green;
  padding: $baseline;
  font-family: $serif-font;
}

.node-readmore,
.read-more {
  display: inline-block;
  margin-top: $baseline;
  a {
    font-family: $sans-serif-font;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 0.9px;
    line-height: 18px;
    @include red-link;
  }
}

.header-image-node {
  height: 390px;
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.video-wrapper {
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%; // For ratio 16:9. 75% if ratio is 4:3
  position: relative;
  margin-bottom: ($baseline * 2);
  embed,
  object,
  iframe {
    @include position(absolute, 0px null null 0px);
    @include size(100%);
  }
}

.file--application-pdf {
  a {
    display: inline-block;
    background: url('../img/document-file-pdf.png');
    background-size: 30px auto;
    line-height: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: ($baseline * 2);
    @include red-link;
  }
}