*, html {
  margin: 0;
  padding: 0;
}

#toolbar-administration {
  background-color: black;
}

$base-border-color: #dcdcdc !default;
$base-background-color: #fff !default;
$base-spacing: 1.5em !default;
$action-color: #477dca !default;
$dark-gray: #333 !default;
$medium-screen: em(640) !default;
$tab-link-color: $dark-gray;
$tab-border: 1px solid $base-border-color;
$tab-active-background: $base-background-color;
$tab-inactive-color: $base-background-color;
$tab-inactive-hover-color: #c0c0c0;
$tab-mode: $medium-screen;
  
#block-wfb-local-tasks {
  ul {
    clear: both;
    @include clearfix;
    border-bottom: $tab-border;
  }
  li {
    list-style-type: none;
    float: left;
  
    a {
      box-sizing: border-box;
      border: $tab-border;
      border-color: transparent;
      background-color: $tab-inactive-color;
      color: $tab-link-color;
      display: block;
      padding: 0.75em 1.618em;
      text-decoration: none;
      
      &:hover {
        color: $action-color;
        border: $tab-border;
        border-bottom-color: transparent;
      }
  
      &:focus {
        outline: none;
      }
      
      &.is-active {
        border: $tab-border;
        border-bottom-color: $base-background-color;
        border-bottom-width: 2px;
        margin-bottom: -1px;
      }
    }
  }
}