.footer-top-wrapper {
  background-color: $green-soft;
  a {
    @include base-link;
  }
}

.footer-bottom-wrapper {
  background-color: $green;
}

#block-svdhe-footer {
  li {
    list-style-type: none;
    display: inline-block;
    padding-right: $baseline;
    a {
      color: $green;
      text-transform: uppercase;
    }
  }
}

#block-fussbereich {
  @include small-text-white;
}

.footer-top {
  h2 {
    margin-bottom: 15px;
  }
  p {
    margin-bottom: ($baseline / 2);
  }
}

.footer-top-right {
  strong {
    display: block;
    @include from('hd') {
      display: inline-block;
      width: 140px;
    }
  }
}