.header-content-inner-h1-wrapper {
  text-align: center;
  display: block;
  h1 {
    display: inline-block;
    position: relative;
    width: auto;
    &:after {
    	content: " ";
    	height: 1px;	
    	width: 120%;
    	background: $green;
    	position: absolute;
    	bottom: (-$baseline / 2);
    	left: -10%;
  	}
  }
}

#block-views-block-termine-block-2,
#block-views-block-aktuelles-block-3,
#block-views-block-aktuelles-block-2,
#block-views-block-aktuelles-block-1,
#block-views-block-termine-block-1,
#block-views-block-geistlicher-impuls-block-1  {
  h2 {
    margin-bottom: ($baseline);
    text-align: center;
  }
  .date-time {
    @include date-time;
  }
  .single-image {
    margin-bottom: ($baseline / 2);
  }
}

#block-views-block-termine-block-1,
#block-views-block-geistlicher-impuls-block-1 {
  border: 1px solid $black;
}

.front2col {
  .block-title-wrapper {
    text-align: center;
  }
  h3 {
   @include h3;
  } 
}