/*----------------------------------------------------------------------------*\
  Headhesive Specific Styles
/*----------------------------------------------------------------------------*/

/**
 * Headhesive element clone
 * > `clone` class for the cloned element:
 *
 * @example
 * var options = {
 *   classes {
 *     clone: 'banner--clone';
 *   }
 * }
 */
.headhesive.headhesive--stick {

  /* Required styles */
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  
  box-sizing: border-box;
 

  /* Additional styles */
  background: $white;

  /* Translate -100% to move off screen */
  @include transform(translateY(-100%));

  /* Animations */
  @include transition(transform 300ms ease-in-out);

}


/**
 * Headhesive stick
 * > `stick` class for the cloned element:
 *
 * @example
 * var options = {
 *   classes {
 *     stick: 'banner--stick';
 *   }
 * }
 */
.headhesive.headhesive--stick {
  /* Translate back to 0%; */
  @include transform(translateY(0%));
}


/**
 * Headhesive unstick
 * > `unstick` class for the cloned element:
 *
 * @example
 * var options = {
 *   classes {
 *     unstick: 'banner--unstick';
 *   }
 * }
 */
.headhesive,
.headhesive--unstick {
  position: absolute;
  top: -300px;
}
