@include add-gutter(1);
//@include add-gutter-style('split');

// STICKY FOOTER FLEXS BOX
body {
  min-height: 100vh;
  @include display(flex);
  @include flex-direction(column);
}

.main {
  @include flex(1 0 auto);
}

// FRONT PAGE
.front-welcome-text {
  width: 50%;
  margin: 0 auto;
}

.main-front {
  @include outer-wrapper;
}

#block-views-block-aktuelles-block-2,
.front3col {
  margin-top: ($baseline * 2);
  margin-bottom: ($baseline * 2);
  ul.teaser-list {
    @include clearfix;
  }
  ul.teaser-list > li {
    list-style-type: none;
    margin-bottom: ($baseline * 2);
    padding-bottom: ($baseline * 2);
    
    &:nth-child(1) {
      @include from('l') {
        @include grid-span(6, 1, 12);
      }
      @include from('xl') {
        @include grid-span(4, 1, 12);
      }
    }
    
    &:nth-child(2) {
      @include from('l') {
        @include grid-span(6, 7, 12);
      }
      @include from('xl') {
        @include grid-span(4, 5, 12);
      }
    }
    
    &:nth-child(3) {
      @include from('l') {
        @include grid-span(12, 1, 12);
        clear: left;
      }
      @include from('xl') {
        @include grid-span(4, 9, 12);
      }
    }
  }
}

ul.teaser-list-termine {
  @include clearfix;
}
ul.teaser-list-termine > li {
  list-style-type: none;
  margin-bottom: ($baseline * 2);
  padding-bottom: ($baseline * 2);
  
  &:nth-child(1) {
    @include from('l') {
      @include grid-span(6, 1, 12);
    }
    @include from('xl') {
      @include grid-span(4, 1, 12);
    }
  }
  
  &:nth-child(2) {
    @include from('l') {
      @include grid-span(6, 7, 12);
    }
    @include from('xl') {
      @include grid-span(4, 5, 12);
    }
  }
  
  &:nth-child(3) {
    @include from('l') {
      @include grid-span(12, 1, 12);
      clear: left;
    }
    @include from('xl') {
      @include grid-span(4, 9, 12);
    }
  }
}

.front2col {
  margin-bottom: ($baseline * 2);
  /*#block-views-block-termine-block-1 {
    margin-bottom: ($baseline * 2);
    @include from('l') {
      @include grid-span(6, 1, 12);
    }
  }
  #block-views-block-geistlicher-impuls-block-1 {
    @include from('l') {
      @include grid-span(6, 7, 12);
    }
  }*/
  .views-block-inner {
    padding: ($baseline * 2);
  }
}

.front2col {
  #block-views-block-termine-block-1 {
    margin-bottom: ($baseline * 2);
  }
  @include from('l') {
    @include align-items(stretch);
    @include display(flex);
    #block-views-block-termine-block-1,
    #block-views-block-geistlicher-impuls-block-1 {
      @include flex(1);
      width: 47.82609%;
    }
    #block-views-block-termine-block-1 {
      margin-right: 4.34782%;
      margin-bottom: 0;
    }
  }
}

//HEADER
.main-menu-wrapper {
  @include outer-wrapper;
}

//PAGE WITH SIDEBAR
.main {
  @include outer-wrapper;
  &.main-with-sidebar {
    @include from('l') {
      @include clearfix;
      position: relative;
      &:after {
        content: " ";
        position: absolute;
        z-index: -1;
        top: 0;
        left: auto;
        background: $yellow;
        display: block;
        //width: 30.43478%;
        width: 28.985505%;
        height: 100%;
      }
    }
  }
}

.layout-sidebar {
  display: none;
  @include from('l') {
    display: block;
    @include grid-span(4, 1, 12);
    @include add-gutter(1em);
  }
}

.with-sidebar {
  @include from('l') {
    @include grid-span(8, 5, 12);
    @include add-gutter(2);
  }
}

// CHECK responsive here ... 
.with-sidebar > div {
  @include from('l') {
    padding-left: $baseline;
  }
}

#block-views-block-niederlassungen-block-1 {
  .views-row {
    margin-bottom: ($baseline *2 );
    @include from('m') {
      @include float-span(4, 1, 8);
      &:nth-child(odd) {
        margin-right: 0;
      }
    }
  }
}

.footer-top {
  @include outer-wrapper;
}

.footer-top-inner {
  @include clearfix;
  .footer-top-left {
    padding: ($baseline * 2) 0 0 0;
  }
  .footer-top-right {
    padding: ($baseline * 2) 0 0 0;
    @include from('l') {
      @include grid-span(6, 7, 12);
    }
  }
  .footer-top-left {
    @include from('l') {
      @include grid-span(6, 1, 12);
    }
  }
}

.footer-top-kontakt {
  clear: both;
  padding-bottom: ($baseline * 2);
}

.footer-bottom {
  @include outer-wrapper;
}

.footer-bottom-inner {
  @include from('l') {
    //@include base-horizontal-margin;
  }
  > div {
    padding: ($baseline / 2) 0;
  }
}

#block-svdhe-footer {
  padding-top: ($baseline * 2);
}

.center-content,
#block-benutzeranmeldung {
  @include from('l') {
    width: 60%;
    margin: 0 auto;
  }
  @include from('xl') {
    width: 40%;
  }
}

.paragraph--type--video {
  max-width: 800px;
  margin: 0 auto;
}

.paragraph--type--link {
  margin: ($baseline) 0;
}