.layout-main-content {
  padding-bottom: ($baseline * 2 );
  h1 {
    @include h1;
    margin-top: ($baseline * 3);
    margin-bottom: ($baseline * 2);
  }
  p {
    margin-bottom: $baseline;
  }
  #block-views-block-aktuelles-block-2 {
    margin-top: ($baseline * 3);
  }
}

.text-mit-schmuck {
  p {
    &:first-of-type:first-letter {
      font-family: $serif-font;
      font-size: 72px;
      line-height: 80px;
      color: $green;
      float: left;
      padding: 0 10px 10px 0;
    }
    &:last-child {
      @include schmuck-element;
      background-position: center bottom;
      padding-bottom: ($baseline * 4);
    }
  }
}

.niederlassungen {
  .layout-main-content {
    h1 {
      margin-bottom: $baseline;
    }
  }
  .niederlassungen-address-group {
    @include schmuck-element;
    background-position: center bottom;
    padding-bottom: ($baseline * 4);
    margin-bottom: ($baseline * 2);
    text-align: center;
  }
  a {
    @include base-link;
  }
  .link {
    a {
      color: $red;
      &:hover {
        color: $green;
      }
    }
  }
}

#block-views-block-publikationen-block-1 {
  h3 {
    text-align: center;
    @include h2;
    margin-bottom: ($baseline * 2);
  }
}

.niederlassungen-name,
.niederlassungen-adresse,
.niederlassungen-tel-mail {
  margin-bottom: ($baseline / 2);
}

.niederlassungen-tel-mail {
  span.label {
    display: block;
    @include from('s') {
      display: inline-block;
      width: 70px;
    }
  }
}

.single-image {
  text-align: center;
  img {
    border: 1px solid $black;
    padding: 2%;
    @include from('s') {
      padding: 5px;
    }
    display: inline-block;
    margin-bottom: ($baseline * 2);
  }
}

.image-with-caption {
  text-align: center;
  img {
    border: 1px solid $black;
    padding: 5px;
    display: inline-block;
  }  
}

.image-caption {
  @include small-text-black;
}

.teaser-list-termine,
.views-row,
.teaser-list {
  .single-image {
    text-align: center;
    img {
      border: 0;
      padding: 0;
      display: inline;
      margin-bottom: 0;
    }
  }
}

#block-benutzeranmeldung {
  ul {
    padding-top: $baseline;
  }
  li {
    list-style-type: none;
    display: inline-block;
    padding-right: $baseline;
    a {
      @include base-link;
    }
  }
}