#block-svdhe-branding {
  text-align: center;
}

#block-svdhe-main-menu {
  display: none;
  @include from('l') {
    display: block;
  }
  .main-menu-wrapper {
    position: relative;
    z-index: 2;
  }
  background-color: $green-navi;
  ul {
    text-align: center;
    height: 54px;
    position: relative;
  }
  li {
    list-style-type: none;
    display: inline-block;
    font-size: 16px;
    line-height: 54px;
    padding: 0 1%;
    @include from('xl') {
      padding: 0 2.5%;
    }
    &:first-child {
      display: none;
    }
    &:nth-child(2) {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
    }
    a {
      font-family: $serif-font;
      font-size: 14px;
      @include from('xl') {
        font-size: 16px;
      }
      color: $green;
      letter-spacing: 1px;
      &:hover {
        @include hover-green;
      }
      &.is-active {
        color: $red;
      }
    }
  }
  &.headhesive--stick {
    ul {
      li {
        &:first-child {
          display: block;
          position: absolute;
          top: 0; 
          text-indent: -100000px;
          padding: 0;
          left: -40px;
          @include from('xl') {
            left: 0;
          }
          a {
            display: block;
            width: 54px;
            height: 54px;
            background-image: url(../img/logo_small.png);
            background-repeat: no-repeat;
            background-size: 54px 54px;
            background-origin: content-box;
          }
        }
      }
    }
  }
}

.header-image-and-text {
  position: relative;
  margin-top: -54px;
  z-index: -1;
  width: 100%;
  height: 560px;
  border-bottom: 25px solid $green;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.header-content {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.header-content-inner {
  position: relative;
  width: 90%;
  @include from('l') {
    width: 75%;
  }
  @include from('xl') {
    width: 60%;
  }
  padding: $baseline 5%;
  margin: 0 auto;
  border-left: 3px solid $green;
  border-top: 3px solid $green;
  border-right: 3px solid $green;
  box-sizing: border-box;
  background-color: $white-transparent;
  @include background-image (linear-gradient(-180deg, rgba(255,255,255,0.00) 11%, #FFFFFF 94%));
  &:after {
    content: " ";
    display: block;
    height: 25px;
    width: 100%;
    position: absolute;
    z-index: 2;
    bottom: -25px;
    left: 0;
    background-color: $white;
    @include schmuck-element;
  }
  h1 {
    width: 100%;
    @include h1;
  }
}

.header-content-inner-h1-wrapper {
  margin-bottom: ($baseline * 2);
}

//MOBILE MENU
#block-mainnavigation-2 {
  @include from('l') {
    display: none;
  }
  h2 {
    display: block;
    background-color: $green-navi;
    height: 54px;
    line-height: 54px;
    cursor: pointer;
  }
  > ul {
    background-color: $green-navi;
    padding-bottom: $baseline;
    padding-top: $baseline;
    position: absolute;
    width: 100%;
  }
  ul {
    display: none;
    &.show {
      display: block;
      z-index: 2;
      a {
        display: block;
        font-family: $serif-font;
        font-size: 16px;
        color: $green;
        letter-spacing: 1px;
        margin-bottom: $baseline;
        &:hover {
          @include hover-green;
        }
      }
    }
  }
  text-align: center;
}