#block-mainnavigation,
#block-fussbereich-2 {
  text-align: center;
  margin-top: ($baseline * 3);
  li {
    list-style-type: none;
    display: block;
    font-size: $size-h3-text;
    line-height: $size-h3-text-line;
    width: 96%;
    padding: 0 2%;
    overflow: hidden;
    text-overflow: ellipsis;
    @include from('xl') {
      font-size: $size-main-navi-text;
      line-height: $size-main-navi-text-line;
    }
    font-weight: $serif-bold;
    &:after {
      content: " \25CF ";
      display: block;
      border-radius: 50%;
      text-align: center;
      color: $red;
      padding-top: $baseline;
      padding-bottom: $baseline;
    }
    &:last-child {
      &:after {
        content: "";
      }
    }
    ul li {
      font-size: $size-main-text;
      line-height: $size-main-text-line;
      font-weight: $serif-basic;
      padding: ($baseline / 2) 0;
      &:after {
        content: "";
        padding: 0;
      }
    }
  }
  a {
    color: $black;
    font-family: $serif-font;
    &:hover {
      color: $red;
    }
  }
}