.teaser-list-termine > li,
.teaser-list > li {
  position: relative;
  &:after {
   position: absolute;
   bottom: 0;
   content: " ";
   display: inline-block;
   width: 100%;
   height: 19px;
   text-align: center;
   @include schmuck-element;
 }
}

.teaser-list-termine,
.teaser-list {
   .image {
   text-align: center;
 }
}

.niederlassungen-teaser-inner {
  text-align: center;
  border: 1px solid $black;
  padding: 25px $baseline $baseline $baseline;
  h2 {
    margin-top: ($baseline / 2);
    display: inline-block;
    height: 55px;
  }
  img {
    border: 0;
    padding: 0;
    display: inline-block;
    margin-bottom: 0;
    @include filter(sepia(100%));
    &:hover {
       @include filter(sepia(0%));
    }
  }
}

.publikationen-teaser {
  border: 1px solid $black;
  padding: ($baseline * 2) $baseline;
  clear: both;
  @include clearfix;
  margin-bottom: ($baseline * 2);
  a {
    @include base-link;
  }
}

.publikationen-teaser-images {
  margin-bottom: $baseline;
  @include from('l') {
    margin-bottom: 0;
    width: 200px;
    float: left;
  }
}

.image-publikationen {
  text-align: center;
}

.content-publikationen-teaser {
  @include from('l') {
    @include calc(width, "100% - 220px");
    float: right;
  }
  h2 {
    margin-bottom: ($baseline / 2);
  }
  table {
    width: 100%;
    th, td {
      padding: 3px 10px;
    }
    th {
      text-align: left;
      background-color: $green-navi;
    }
    a {
      @include base-link;
    }
  }
}

#block-views-block-termine-block-2 {
  margin-top: ($baseline * 2);
}