@mixin outer-wrapper {
  @include calc(width, "100% - 20px");
	max-width: 600px;
	margin: 0 auto;
	padding: 0 10px;
	@include from('s') {
  	@include calc(width, "100% - 84px");
  	padding: 0 20px;
	}
	@include from('l') {
  	max-width: 750px;
	}
	@include from('xl') {
  	max-width: 800px;
	}
	@include from('hd') {
  	max-width: 980px;
  	@include calc(width, "100% - 80px");
		padding: 0 40px;
	}
}

@mixin link {
  color: $red;
    &:before {
      content: " → ";
    }
    &:hover {
      color: $green;
    }
}

@mixin base-link {
  color: $black;
  &:hover {
    color: $green;
  }
}

@mixin red-link {
  color: $red;
  &:hover {
    color: $green;
  }
}

@mixin date-time {
  display: block;
  text-align: center;
  margin-bottom: ($baseline);
  text-transform: uppercase;
  color: $red;
  font-size: $size-date-time;
  &:after {
    content: " — ";
    display: block;
    margin-top: -4px;
  }
}

@mixin hover-green {
  color: #000;
}

@mixin base-horizontal-margin {
	margin-left: 15px;
	margin-right: 15px;
	@include from('l') {
		margin-left: 20px;
    margin-right: 20px;
	}
	@include at('xl') {
		margin-left: 35px;
    margin-right: 35px;
	}
}

@mixin schmuck-element {
  background-image: url(../img/schmuck-element.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 30px 19px;
}

////////

@mixin base-horizontal-padding {
	padding: 0 35px;
	@include from('m') {
		padding: 0 20px;
	}
	@include at('xl') {
		padding: 0 30px;
	}
	@include from('hd') {
		padding: 0 5vw;
	}
}

@mixin move-teaser-image-to-border {
	margin-left: -10px;
	@include from('m') {
		margin-left: -20px;
	}
	@include at('xl') {
		margin-left: -30px;
	}
	@include from('hd') {
		margin-left: -5vw;
	}
}

@mixin hover-red {
	color: $action-color;
	@include transition(color 0.5s ease-in-out);
}

@mixin h1 {
	font-family: $serif-font;
	font-size: $size-h1-headline;
	line-height: $size-h1-headline-line;
	letter-spacing: 1.5px;
	font-weight: $serif-basic;
	color: $green;
	text-align: center;
}

@mixin h2 {
	font-family: $serif-font;
	font-size: $size-h2-headline;
	line-height: $size-h2-headline-line;
	letter-spacing: 2.22px;
	font-weight: $serif-basic;
	color: $green;
	a {
  	color: $green;
  	&:hover {
    	@include hover-green;
  	}
	}
	div.footer-top & {
  	color: $black;
	}
}

@mixin h3 {
  position: relative;
	font-family: $serif-font;
	font-size: $size-h1-headline;
	line-height: $size-h1-headline-line;
	letter-spacing: 1.5px;
	margin-bottom: ($baseline * 2);
	color: $black;
	font-weight: $serif-basic;
	display: inline-block;
  &:after {
  	content: " ";
  	height: 1px;	
  	width: 100%;
  	left: 0;
  	background: $black;
  	position: absolute;
  	bottom: (-$baseline / 2);
	}
	@include from('m') {
  	&:after {
    	content: " ";
    	height: 1px;	
    	width: 120%;
    	background: $black;
    	position: absolute;
    	bottom: (-$baseline / 2);
    	left: -10%;
  	}
	}
	a {
		text-decoration: none;
		color: $black;
		&:hover {
			@include hover-red;
		}
	}
}

@mixin small-text-white {
  font-size: $size-small-text;
  line-height: $size-small-text-line;
  color: $white;
}

@mixin small-text-black {
  font-size: $size-small-text;
  line-height: $size-small-text-line;
  color: $black;
}

@mixin quote {
	font-family: $serif-font;
	font-size: $size-main-text;
	line-height: $size-main-text-line;
	margin-bottom: ($baseline / 2);
	font-weight: 100;
	text-align: left;
	font-style: italic;
}

@mixin h2-main-content {
	font-family: $sans-serif-font;
	font-size: $size-teaser-headline;
	line-height: $size-teaser-headline-line;
	margin-bottom: ($baseline / 2);
	color: $main-gray;
	text-align: left;
	a {
		text-decoration: none;
		color: $main-gray;
		text-align: left;
		&:hover {
			@include hover-red;
		}
	}
}

@mixin introtext {
	font-family: $sans-serif-font;
	font-size: $size-main-text;
	line-height: $size-main-text-line;
	color: $main-gray;
	margin-bottom: ($baseline / 2);
}

@mixin section-headline {
	font-family: $sans-serif-font;
	font-size: $size-teaser-headline;
	line-height: $size-teaser-headline-line;
	color: $main-gray;
	//text-transform: uppercase;
	margin-bottom: ($baseline / 2);
	text-align: center;
}

@mixin main-content-text {
	font-size: $size-main-text;
	line-height: $size-main-text-line;
	margin-bottom: ($baseline * 2);
	p {
		margin-bottom: $baseline;
	}
}

@mixin button {
  margin-top: ($baseline / 2);
  padding: 10px 25px;
  background-color: $green-soft;
  border: 0;
  -webkit-border-radius:0;
  -webkit-appearance: none;
  font-family: $base-font-family;
  font-size: $size-sub-nav;
  text-transform: uppercase;
  &:hover {
    background: shade($green-soft, 25%);
    @include transition-property(background);
    @include transition-duration(1.0s);
    cursor: pointer;
    color: $white;
  }
}