// COLORS
$yellow: #FFF092;
$green: #6A854A;
$green-soft: #D2D798;
$red: #A41E00;
$black: #000000;
$white: #ffffff;
$green-navi: rgba(210,215,152,0.95);
$white-transparent: rgba(255,255,255,0.8);

// FONTS
$serif-font: "trajan-pro-3", serif;
$sans-serif-font: "acumin-pro", sans-serif;

// FONT WEIGHTS
$sans-serif-basic: 300;
$serif-basic: 400;
$serif-bold: 700;

// FONT-SIZES
$size-h1-headline: 24px;
$size-h1-headline-line: 36px;

$size-h2-headline: 20px;
$size-h2-headline-line: 26px;

$size-small-text: 14px;
$size-small-text-line: 21px;

$size-main-text: 16px;
$size-main-text-line: 20px;

$size-h3-text: 16px;
$size-h3-text-line: 24px;

$size-date-time: 12px;
$size-image-caption: 12px;

$size-main-navi-text: 18px;
$size-main-navi-text-line: 22px;

//$size-td-text: 12px;
//$size-td-text-line: 16px;

$size-main-nav: 20px;

$size-sub-nav: 14px;

$size-category-header: 23px;

// SPACES
$baseline: 20px;
$mobile-hero-size: 380px;

// BREAKPOINTS
$slicer-breakpoints:        0        400px       650px      800px        1012px        1440px;

//                          └────┬────┘ └────┬────┘ └────┬────┘ └────┬────┘ └────┬────┘ └────┬────
// Slice numbers:                1           2           3           4           5           6
$slicer-breakpoint-names:       'xs'        's'         'm'         'l'         'xl'        'hd';


// BITTERS VARIABLES
// Typography
$base-font-family: $sans-serif-font;
$heading-font-family: $base-font-family;

// Font Sizes
$base-font-size: 1em;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$blue: #1565c0;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;

// Font Colors
$base-font-color: $dark-gray;
$action-color: $green;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: #fff;
$secondary-background-color: tint($base-border-color, 75%);

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Animations
$base-duration: 150ms;
$base-timing: ease;
