{#
/**
 * @file
 * Theme override to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 * - logo: The url of the logo image, as defined in theme settings.
 * - site_name: The name of the site. This is empty when displaying the site
 *   name has been disabled in the theme settings.
 * - site_slogan: The slogan of the site. This is empty when displaying the site
 *   slogan has been disabled in theme settings.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - messages: Status and error messages. Should be displayed prominently.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
  <header role="banner">
    {{ page.header }}
    {% if page.headerimage %}
      <div class="header-image">{{ page.headerimage }}</div>
    {% endif %}
    
    {% if page.frontwelcome %}
      {{ page.frontwelcome }}
    {% endif %}
  </header>

{{ content.field_header_bild }}

  <main role="main" class="main main-with-sidebar">
    <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}
  
      {% if page.sidebar %}
        <aside class="layout-sidebar">
  
          {{ page.sidebar }}
        </aside>
      {% endif %}
    
      <article class="layout-main-content with-sidebar">
        <div class="title-wrapper"><h1>{{ node.label }}</h1></div>
        {{ page.content }}
      </article>

  </main>

<footer role="contentinfo" class="footer">
<div class="footer-top-wrapper">
  <div class="footer-top">
    <div class="footer-top-inner">
      <div class="footer-top-left">{{ page.footertopleft }}</div>
      <div class="footer-top-right">{{ page.footertopright }}</div>
      <div class="footer-top-kontakt">{{ page.footermenu }}</div>
    </div>
  </div>
</div>

<div class="footer-bottom-wrapper">
    <div class="footer-bottom">
      <div class="footer-bottom-inner">{{ page.footer }}</div>
    </div>
</div>

{{ attach_library('svdhe/slick-js') }}

</footer>